.row
	.large-12.columns.text-center.mt50
		= link_to 'Loggin with Facebook', '/signin', class: 'button' 
	.large-12.columns.text-center.mt50
		= link_to 'Loggin with VK', '/signin_vk', class: 'button success' 